<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>cose da fare</title>
    </head>
    <body>
        <div> 
            <form method="POST" action="/deletedone">
                <input type="submit" value="&times;">
            </form>
            <form method="POST" action="/crea">
                <input type="text" name="text">
                <input type="submit" value="crea">
            </form>
            <ul>
            <% todos.forEach(function (todo){ %>
                <li>
                <%= todo.text %> 
                <%= todo.done %> 
                <form method="POST" action="/toggle">
                    <input type="hidden" name="id" value="<%= todo.id %>">
                    <input type="submit" value="&times;">
                </form>
                </li>
            <% }); %> 
            </ul>
        </div>
    </body>
</html>
