body{
    font-family: 'Courier New', Courier, monospace;
}

.modello{
    margin-bottom: 0px;
}

.marca{
    margin: 0px;
}

.date{
    margin: 0px;
}

.titolo{
    margin-bottom: 0px;
}

.intestazione{
    display: inline;
}

.intestazione2{
    margin-left: 160px;
    display: inline;
}

#clock{
    display: inline;
}